<section id="footer">
        <div class="container">
          <div class="row" style="justify-content: space-evenly;">
            <div class="text-center">
              <a href="callto:+380982159299"><i id="social-phn" class="fa fa-phone-square fa-3x social"></i></a>
              <a href="skype:live:nikita_kildibekov?call"><i id="social-skp" class="fa fa-skype fa-3x social"></i></a>
              <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
            </div>
            <div class="text-center author-name">
              Nikita Kildibekov
            </div>
            <div class="text-center">
              <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
              <a href="https://twitter.com"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
              <a href="https://www.instagram.com/"><i id="social-instagram" class="fa fa-instagram fa-3x social"></i></a>
            </div>
          </div>
        </div>
      </section>